/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the container */
.container {
    position: relative;
}

#main_container {
    position: relative; /* or absolute */
    /* Add any additional styling as needed */
}

/* Styling for the top bar */
.top-bar {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 1.2vh 1vw;
    font-size: 1.2vw; 
}

.top-bar nav ul {
    list-style: none;
}

.top-bar nav ul li {
    display: inline-block;
    margin-right: 0.2vw;
}

#flag_image {
    vertical-align: middle;
    /* width: 40px; Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
}

.top-bar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Styling for the map container */ */
/* .map-container { */
    /* height: 100vh; */
    /* margin-top: 0.1vh; */
    /* margin-right: 200px; Adjust based on the width of the top bar */
/* }

/* .map {
    height: 100vh;
} */

.map{
    height: 100%;
}

.charts-container{
    height: 100%;
    position:relative;
}

.svg_charts{
    height:100%;
}

.top_title {
    display: flex; /* Set the display property to flex */
    justify-content: center; /* Center the content horizontally */
    padding-top: 0.5vh; /* Add top padding */
    font-weight: bold;
}

#top_title_text {
    font-size: 1.5vw; /* Adjust the size of the text */
}

.popup {
    display: none;
    position: absolute;
    top: 81%;
    left: 68%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 1px solid #ccc;
    z-index: 0;
}

.popup2 {
    display: block;
    position: absolute;
    top: 81%;
    left: 68%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 1px solid #ccc;
    z-index: 0;
}


#title_settings{
    font-size: 1.3vw;
}

.popup-content {
    text-align: center;
    margin-right: 0.5vw;
    font-size: 1.3vw;
}

#settings_list {
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    font-size: 0.9vw;
}

#ok_button_settings{
    font-size: 0.7vw;
}

#sport_list{
    padding-top: 1vh;
}

#radio_buttons {
    padding-top: 1vh;
}

#record_popup{
    visibility: hidden;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;    
    background-color: white;
    border: solid;
    z-index: 9999;
}

#record_popup span {
    display: block;                
}

#buttonContainer {
    display: flex;
    align-items: center; /* Align items vertically */
}

/* td, th {
    padding: 1px 4px;
  } */

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    position: absolute;

  }
  /* th, td {
    border: none;
    padding: 8px;
    text-align: left;
  } */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #table_container {
    position:absolute;
    top: 45%; 
    left: 2%;
    min-height: 40%;
    max-height: 45%;
    width: 17%;
    overflow-y: auto;
    font-size: 0.9vw;
}

.record_info {
    padding-top: 0.2vh;
    font-size: 1.1vw; /* Adjust the font size of record information based on the window width */
}

#buttonContainer button {
    font-size: 1.1vw; 
    padding: 0.2vh 0.4vw; 
    margin-top: 0.7vh;
    margin-right: 0.3vw;
}

#radio_male {
    margin-right: 10px; /* Add horizontal space between "Male" and the first button */
}

#radio_buttons input[type="radio"] {
    /* Increase the width and height to make the radio buttons larger */
    width: 0.9vw;
    height: 0.9vw;
    /* Adjust other styles as needed */
}

.slider_container {
    padding-top: 1vh; 
    padding-bottom: 0.5vh;
}

#video_container {
    float: left; /* Float the video container to the left */
}   

.slider_container input[type=range] {
    width: 50%; /* Adjust the width as needed */
}

.content-container {
    /* Styles for your existing content container */
    height: 100vh; /* Adjust height as needed */
    overflow-y: scroll; /* Enable vertical scrolling */
}

.charts-container {
    /* Styles for the charts container */
    display: none;  
    padding: 0.1vh;
    /* Add any additional styling as needed */
}